//Global breakpoints and formula
$breakpoints: (
  "sm": 0, //Phone
  "lg": 1280px, //Laptop
);

@mixin screen-is($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

//Global body
body {
  margin: .8rem;

  @include screen-is(lg) {
    margin: 1.6rem;
  }
}

//Global reusable styles
.view__container {
  min-height: calc(100vh - (2 * 2.5rem) - (2 * 0.8rem) - 10px - 24px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.global__button {
  border: 2px #ff0000;
  border-style: dashed;
  height: 32px;
  display: inline-flex;
  align-items: center;
  color: #ff0000;
  cursor: pointer;
}
.global__button:hover {
  border-style: solid;
}

//Global text-tags
small, h1, h2 {
  font-family: "source";
}

h1 {
  margin: 0rem;
  font-size: 24px;
  font-weight: 600;

  @include screen-is(lg) {
    font-size: 24px;
  }
}

small {
  font-size: 10px;
}

a {
  text-decoration: none;
}