//Global breakpoints and formula
$breakpoints: (
  "sm": 0, //Phone
  "lg": 1040px, //Laptop
);

@mixin screen-is($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

//Global varables
$space: 1.2rem;

//Global body
body {
  margin: $space;

  @include screen-is(lg) {
    margin: 1.6rem;
  }
}

//Global reusable styles
.view__container {
  min-height: calc(100vh - (2 * 3rem) - (2 * 0.8rem) - 10px - 24px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @include screen-is(lg) {
    min-height: calc(100vh - (2 * 3rem) - (2 * 0.8rem) - 20px - 60px);
  }

  .events__header {
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;

    @include screen-is(lg) {
      margin-bottom: 20px;
    }
  }
}
.global__button {
  border: 3px orangered;
  background-color: #fff;
  border-style: solid;
  padding: .5rem .7rem;
  color: orangered;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;

  @include screen-is(lg) {
    padding: .9rem 1.1rem;
  }
}
.global__button:hover {
  border-style: solid;
}
.global__event-picture {
  width: 100%;
  object-fit: cover;
}
.global__loader {
  img {
    transform: scale(.7);
  }
}

//Global text-tags
small, span, h1, h2, h3 {
  font-family: "nunito";
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  margin: 0;
  font-size: 18px;
}

h3 {
  margin: 0;
  font-size: 14px;
}

small {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
}

@include screen-is(lg) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  small {
    font-size: 14px;
  }
  i {
    font-size: 18px;
  }
}