//Global breakpoints and formula
$breakpoints: (
  "sm": 0, //Phone
  "lg": 1280px, //Laptop
);

@mixin screen-is($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

//Global varables
$space: .8rem;

//Global body
body {
  margin: $space;

  @include screen-is(lg) {
    margin: 1.6rem;
  }
}

//Global reusable styles
.view__container {
  min-height: calc(100vh - (2 * 2.5rem) - (2 * 0.8rem) - 10px - 24px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .events__header {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}
.global__button {
  border: 2px #ff0000;
  border-style: solid;
  padding: .4rem .5rem;
  color: #ff0000;
  cursor: pointer;
  text-align: center;
}
.global__button:hover {
  border-style: solid;
}

//Global text-tags
small, h1, h2, h3 {
  font-family: "source";
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;

  @include screen-is(lg) {
    font-size: 24px;
  }
}

h2 {
  margin: 0;
  font-size: 18px;
}

h3 {
  margin: 0;
  font-size: 14px;
}

small {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  font-style: italic;
  font-size: 14px;
  font-weight: 300;
}